<div class="row">
  <div *ngIf="!chatService.loading && !chatService.user?.displayName" class="col-md-12 text-center">
    <p>Ingrese al chat con su cuenta</p>
    <button class="btn btn-outline-primary mr-2" (click)="login('google')">Google</button>
    <button class="btn btn-outline-info" (click)="login('twitter')">Twitter</button>

  </div>
  <div *ngIf="!chatService.loading && chatService.user?.displayName" class="col-md-12 text-right">
    <button class="btn btn-outline-danger"
      (click)="chatService.logout()">
      Salir
    </button>
  </div>
</div>
